{% extends "base.html" %}
{% block content %}


<!-- <section class="bg-[rgba(173,138,100,0.8)] w-full h-full py-32"> -->
<!-- <section class="bg-[rgba(141,109,75,0.8)] w-full h-full py-32"> -->
    <section class="w-full h-full flex flex-col py-32 items-center justify-center shadow-[inset_0_40px_80px_rgba(0,0,0,0.4)] bg-[url('../images/books_bg.jpg')] bg-cover">
      <div class="grid md:grid-cols-2 w-[90%]">
          <div class="w-full flex flex-col items-center justify-center">
                        <div class="w-full bg-[rgba(255,255,255,0.33)] shadow-lg shadow-stone-700 space-y-4 md:space-y-6 border-solid border-8 sm:max-w-[30rem] border-[#ad8a64] p-6 px-20">
                            <a href="#" class="flex items-center justify-center mb-3 text-2xl font-semibold text-stone-700">
                              <svg width="90px" height="90px" viewBox="0 0 24 24" data-name="025_SCIENCE" id="_025_SCIENCE" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:#ad8a64;}</style></defs><path class="cls-1" d="M12,22a1,1,0,0,1-1-1,4,4,0,0,1,4-4h5V4H15a2,2,0,0,0-2,2v9a1,1,0,0,1-2,0V6a4,4,0,0,1,4-4h6a1,1,0,0,1,1,1V18a1,1,0,0,1-1,1H15a2,2,0,0,0-2,2A1,1,0,0,1,12,22Z"/><path class="cls-1" d="M12,22a1,1,0,0,1-1-1,2,2,0,0,0-2-2H3a1,1,0,0,1-1-1V3A1,1,0,0,1,3,2H9a4,4,0,0,1,4,4,1,1,0,0,1-2,0A2,2,0,0,0,9,4H4V17H9a4,4,0,0,1,4,4A1,1,0,0,1,12,22Z"/></svg>
                            </a>
                            <h1 class="font-bold text-center tracking-tight text-stone-500 md:text-lg">CREATE AN ACCOUNT</h1>
                            <form class="group space-y-4 md:space-y-6" x-data="{password: '', password_confirm: ''}" method="post" action="/register" novalidate>
                                <div>
                                    <label for="email" class="block mb-2 text-sm text-stone-700">EMAIL</label>
                                    <input type="email" name="email" id="email" class="peer bg-stone-50 border-solid border-2 border-[rgb(189,134,95)] text-stone-700 text-sm focus:!border-[rgb(165,123,93)] focus:ring-primary-300 focus:border-primary-500 block w-full p-2.5 " placeholder="name@company.com" required="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                                    <span class="mt-2 hidden text-sm font-semibold text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">
                                        Please enter a valid email address
                                      </span>
                                </div>
                                <div>
                                    <label for="password" class="block mb-2 text-sm text-stone-700">PASSWORD</label>
                                    <input type="password" name="password" id="password" placeholder="••••••••" x-model="password" class="peer invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 bg-stone-50 border-solid border-2 border-[rgb(189,134,95)] focus:!border-[rgb(165,123,93)] text-stone-700 text-sm focus:ring-primary-300 focus:border-primary-500 block w-full p-2.5" required="" pattern=".{8,}">
                                    <p class="flex items-start mt-2 text-sm text-stone-600">
                                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 mr-1.5">
                                          <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75Zm0 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd" />
                                        </svg>
                                        Use at least 8 characters.
                                    </p>  
                                    <span class="mt-2 hidden text-sm font-semibold text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">
                                        Your password must be at least 8 characters long.
                                      </span>
                                </div>
                                <div>
                                    <label for="confirm-password" class="block mb-2 text-sm text-stone-700">CONFIRM PASSWORD</label>
                                    <input type="password" name="confirm-password" id="confirm-password" placeholder="••••••••" x-model="password_confirm" 
                                    :class="password!=password_confirm && password_confirm.length > 0 ? '!border-red-500' : 'border-grey-300'"
                                    class="bg-stone-50 border-solid border-2 border-[rgb(189,134,95)] text-stone-700 text-sm mb-2 focus:ring-primary-300 focus:!border-[rgb(165,123,93)] focus:border-primary-500 block w-full p-2.5" required="">
                                    <span class="text-sm text-red-500 font-bold "
                                        x-text="password != password_confirm && password_confirm.length > 0 && password.length > 0 ? 'Passwords do not match' : '' ">
                                    </span>
                                  </div>
                                <button type="submit" 
                                :class="{'opacity-30 cursor-not-allowed': password!=password_confirm}"
                                class="group-invalid:cursor-not-allowed group-invalid:opacity-30 w-full text-white bg-[rgb(130,103,84)] bg-primary-600 hover:bg-[#bb8c5a] hover:bg-primary-700 focus:ring-4 focus:!ring-[rgb(165,123,93)]  focus:outline-none focus:!border-[rgb(165,123,93)] focus:ring-primary-300 font-medium text-sm px-5 py-2.5 text-center" >SIGN UP</button>
                                <p class="text-sm font-light text-stone-600">
                                    Already have an account? <a href="/login" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Login here</a>
                                </p>
                            </form>
                        </div>
          </div>
          <div class="w-full"></div>
      </div>
      <!-- <div class="grid grid-rows-[15px_15px] w-[60%] mt-2">
        <div class="col-start-1 row-span-12 row-start-1 w-full bg-[rgba(219,219,219,0.32)] "></div>
        <div class="col-start-1 row-span-10 row-start-2 w-full bg-[rgba(219,219,219,0.67)] flex items-center">
        </div>
        <div class="col-start-1 row-span-8 row-start-3 w-full bg-[rgb(219,219,219)] group ">
          <section class="p-10  text-stone-700 flex flex-col w-full justify-center items-center ">
            <div class="w-[40%] p-4 bg-[url('../images/p_bg.jpg')] bg-contain">
            <div class="w-full bg-white space-y-4 md:space-y-6 border-solid border-8 sm:max-w-[40rem] border-[rgb(189,134,95)] p-8 px-12">
              <a href="#" class="flex items-center justify-center mb-3 text-2xl font-semibold text-stone-700">
                <svg width="90px" height="90px" viewBox="0 0 24 24" data-name="025_SCIENCE" id="_025_SCIENCE" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:#ad8a64;}</style></defs><path class="cls-1" d="M12,22a1,1,0,0,1-1-1,4,4,0,0,1,4-4h5V4H15a2,2,0,0,0-2,2v9a1,1,0,0,1-2,0V6a4,4,0,0,1,4-4h6a1,1,0,0,1,1,1V18a1,1,0,0,1-1,1H15a2,2,0,0,0-2,2A1,1,0,0,1,12,22Z"/><path class="cls-1" d="M12,22a1,1,0,0,1-1-1,2,2,0,0,0-2-2H3a1,1,0,0,1-1-1V3A1,1,0,0,1,3,2H9a4,4,0,0,1,4,4,1,1,0,0,1-2,0A2,2,0,0,0,9,4H4V17H9a4,4,0,0,1,4,4A1,1,0,0,1,12,22Z"/></svg>
              </a>
              <h1 class="font-bold text-center tracking-tight text-stone-500 md:text-lg">CREATE AN ACCOUNT</h1>
              <form class="group space-y-4 md:space-y-6" x-data="{password: '', password_confirm: ''}" method="post" action="/register" novalidate>
                  <div>
                      <label for="email" class="block mb-2 text-sm text-stone-700">EMAIL</label>
                      <input type="email" name="email" id="email" class="peer bg-stone-50 border-solid border-2 border-[rgb(189,134,95)] text-stone-700 text-sm focus:!border-[rgb(165,123,93)] focus:ring-primary-300 focus:border-primary-500 block w-full p-2.5 " placeholder="name@company.com" required="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                      <span class="mt-2 hidden text-sm font-semibold text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">
                          Please enter a valid email address
                        </span>
                  </div>
                  <div>
                      <label for="password" class="block mb-2 text-sm text-stone-700">PASSWORD</label>
                      <input type="password" name="password" id="password" placeholder="••••••••" x-model="password" class="peer invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 bg-stone-50 border-solid border-2 border-[rgb(189,134,95)] focus:!border-[rgb(165,123,93)] text-stone-700 text-sm focus:ring-primary-300 focus:border-primary-500 block w-full p-2.5" required="" pattern=".{8,}">
                      <p class="flex items-start mt-2 text-xs text-slate-400 font-semibold">
                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 mr-1.5">
                            <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75Zm0 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd" />
                          </svg>
                          Use at least 8 characters.
                      </p>  
                      <span class="mt-2 hidden text-sm font-semibold text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">
                          Your password must be at least 8 characters long.
                        </span>
                  </div>
                  <div>
                      <label for="confirm-password" class="block mb-2 text-sm text-stone-700">CONFIRM PASSWORD</label>
                      <input type="password" name="confirm-password" id="confirm-password" placeholder="••••••••" x-model="password_confirm" 
                      :class="password!=password_confirm && password_confirm.length > 0 ? '!border-red-500' : 'border-grey-300'"
                      class="bg-stone-50 border-solid border-2 border-[rgb(189,134,95)] text-stone-700 text-sm mb-2 focus:ring-primary-300 focus:!border-[rgb(165,123,93)] focus:border-primary-500 block w-full p-2.5" required="">
                      <span class="text-sm text-red-500 font-bold "
                          x-text="password != password_confirm && password_confirm.length > 0 && password.length > 0 ? 'Passwords do not match' : '' ">
                      </span>
                    </div>
                  <button type="submit" 
                  :disabled="password_confirm!=password"
                  :class="{'opacity-30': password!=password_confirm}"
                  class="group-invalid:pointer-events-none group-invalid:opacity-30 w-full text-white bg-[rgb(130,103,84)] bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium text-sm px-5 py-2.5 text-center" >SIGN UP</button>
                  <p class="text-sm font-light text-stone-500 dark:text-stone-400">
                      Already have an account? <a href="/login" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Login here</a>
                  </p>
              </form>
          </div>
        </div>
          </section>
        </div>
      </div> -->


      <!-- <a href="#" class="flex items-center mb-3 text-2xl font-semibold text-stone-900">
                <svg width="90px" height="90px" viewBox="0 0 24 24" data-name="025_SCIENCE" id="_025_SCIENCE" xmlns="http://www.w3.org/2000/svg"><defs><style>.cls-1{fill:#ad8a64;}</style></defs><path class="cls-1" d="M12,22a1,1,0,0,1-1-1,4,4,0,0,1,4-4h5V4H15a2,2,0,0,0-2,2v9a1,1,0,0,1-2,0V6a4,4,0,0,1,4-4h6a1,1,0,0,1,1,1V18a1,1,0,0,1-1,1H15a2,2,0,0,0-2,2A1,1,0,0,1,12,22Z"/><path class="cls-1" d="M12,22a1,1,0,0,1-1-1,2,2,0,0,0-2-2H3a1,1,0,0,1-1-1V3A1,1,0,0,1,3,2H9a4,4,0,0,1,4,4,1,1,0,0,1-2,0A2,2,0,0,0,9,4H4V17H9a4,4,0,0,1,4,4A1,1,0,0,1,12,22Z"/></svg>
        </a>
        <div class="w-full bg-white shadow-lg shadow-stone-700 md:mt-0 sm:max-w-md xl:p-0 border-solid border-8 border-[#ad8a64]">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="font-bold text-center tracking-tight text-stone-500 md:text-lg">
                    CREATE AN ACCOUNT
                </h1>
                <form class="group space-y-4 md:space-y-6" x-data="{password: '', password_confirm: ''}" method="post" action="/register" novalidate>
                    <div>
                        <label for="email" class="block mb-2 text-sm text-stone-700">EMAIL</label>
                        <input type="email" name="email" id="email" class="peer bg-stone-50 border-solid border-2 border-[rgb(189,134,95)] text-stone-700 text-sm focus:!border-[rgb(165,123,93)] focus:ring-primary-300 focus:border-primary-500 block w-full p-2.5 " placeholder="name@company.com" required="" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$">
                        <span class="mt-2 hidden text-sm font-semibold text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">
                            Please enter a valid email address
                          </span>
                    </div>
                    <div>
                        <label for="password" class="block mb-2 text-sm text-stone-700">PASSWORD</label>
                        <input type="password" name="password" id="password" placeholder="••••••••" x-model="password" class="peer invalid:[&:not(:placeholder-shown):not(:focus)]:border-red-500 bg-stone-50 border-solid border-2 border-[rgb(189,134,95)] focus:!border-[rgb(165,123,93)] text-stone-700 text-sm focus:ring-primary-300 focus:border-primary-500 block w-full p-2.5" required="" pattern=".{8,}">
                        <p class="flex items-start mt-2 text-xs text-slate-400 font-semibold">
                            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="currentColor" class="w-5 h-5 mr-1.5">
                              <path fill-rule="evenodd" d="M2.25 12c0-5.385 4.365-9.75 9.75-9.75s9.75 4.365 9.75 9.75-4.365 9.75-9.75 9.75S2.25 17.385 2.25 12ZM12 8.25a.75.75 0 0 1 .75.75v3.75a.75.75 0 0 1-1.5 0V9a.75.75 0 0 1 .75-.75Zm0 8.25a.75.75 0 1 0 0-1.5.75.75 0 0 0 0 1.5Z" clip-rule="evenodd" />
                            </svg>
                            Use at least 8 characters.
                        </p>  
                        <span class="mt-2 hidden text-sm font-semibold text-red-500 peer-[&:not(:placeholder-shown):not(:focus):invalid]:block">
                            Your password must be at least 8 characters long.
                          </span>
                    </div>
                    <div>
                        <label for="confirm-password" class="block mb-2 text-sm text-stone-700">CONFIRM PASSWORD</label>
                        <input type="password" name="confirm-password" id="confirm-password" placeholder="••••••••" x-model="password_confirm" 
                        :class="password!=password_confirm && password_confirm.length > 0 ? '!border-red-500' : 'border-grey-300'"
                        class="bg-stone-50 border-solid border-2 border-[rgb(189,134,95)] text-stone-700 text-sm mb-2 focus:ring-primary-300 focus:!border-[rgb(165,123,93)] focus:border-primary-500 block w-full p-2.5" required="">
                        <span class="text-sm text-red-500 font-bold "
                            x-text="password != password_confirm && password_confirm.length > 0 && password.length > 0 ? 'Passwords do not match' : '' ">
                        </span>
                      </div>
                    <button type="submit" 
                    :disabled="password_confirm!=password"
                    :class="{'opacity-30': password!=password_confirm}"
                    class="group-invalid:pointer-events-none group-invalid:opacity-30 w-full text-white bg-[rgb(130,103,84)] bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium text-sm px-5 py-2.5 text-center" >SIGN UP</button>
                    <p class="text-sm font-light text-stone-500 dark:text-stone-400">
                        Already have an account? <a href="/login" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Login here</a>
                    </p>
                </form>
            </div>
        </div> -->
    <!-- </div> -->
  </section>


{% endblock %}